<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/abhir/OneDrive/Desktop/Vivek/Automation Testing/ATB8xAPIAutomationPrograms/src/test/java/com/thetestingacademy/RestAssuredBasics/PUT/APITesting010_PUT_NONBddStyle.java"><classes><class name="com.thetestingacademy.RestAssuredBasics.PUT.APITesting010_PUT_NONBddStyle"><methods><include name="test_put_non_bdd"/></methods></class></classes></test></suite>